[submodule "foundry-simple-storage"]
	path = foundry-simple-storage
	url = https://github.com/Eunum56/foundry-simple-storage.git
[submodule "foundry-fund-me"]
	path = foundry-fund-me
	url = https://github.com/Eunum56/foundry-fund-me
[submodule "foundry-lottery"]
	path = foundry-lottery
	url = https://github.com/Eunum56/foundry-lottery
[submodule "foundry-ERC20"]
	path = foundry-ERC20
	url = https://github.com/Eunum56/foundry-ERC20
[submodule "foundry-nft"]
	path = foundry-nft
	url = https://github.com/Eunum56/foundry-nft
[submodule "foundry-DeFi-stablecoin"]
	path = foundry-DeFi-stablecoin
	url = https://github.com/Eunum56/foundry-DeFi-stablecoin
[submodule "foundry-Rebase-Token"]
	path = foundry-Rebase-Token
	url = https://github.com/Eunum56/foundry-Rebase-Token
