[submodule "foundry-simple-storage"]
	path = foundry-simple-storage
	url = https://github.com/Eunum56/foundry-simple-storage.git
[submodule "foundry-fund-me"]
	path = foundry-fund-me
	url = https://github.com/Eunum56/foundry-fund-me
